<%
# Back Link Component
#
# Navigation link to go back to previous page
#
# @param text [String] Link text (default: "← Back")
# @param url [String] Destination URL

text = local_assigns.fetch(:text, '← Back')
%>

<div class="mb-6">
  <%= link_to text, url, class: "text-indigo-600 hover:text-indigo-700 font-medium" %>
</div>
